:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    /* 16px */
    /* thủ thuật 100% = 1 rem = 16px 
                 62.5% = 1 rem = 10px
        => 12px = 1.2rem
    */
    font-size: 62.5%;
    /* độ cao chữ */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responese */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* 1rem dựa trên html font-size nên bằng 16px */
p {
    font-size: 1rem;
}